# Ignorar entorno virtual
venv/

# Ignorar archivos temporales de Python
__pycache__/
*.py[cod]

# Ignorar base de datos local
db.sqlite3

# Archivos de VSCode (opcional)
.vscode/

# Archivos temporales del sistema operativo
*.log
*.tmp

# Archivos de migración (opcional si quieres limpiar el repo)
*/migrations/__pycache__/
*.sqlite3
